@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 5.23rem;
    }

    html {
        @apply bg-background text-text;
        font-size: 62.5%
    }
}

@layer utilities {
    .alert-transform {
        transform: translate(-50%, -50%);
    }
}