@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 5.23rem;
    }

    html {
        @apply bg-background text-text;
        font-size: 62.5%
    }
}

@layer utilities {
    .alert-transform {
        transform: translate(-50%, -50%);
    }

    .alert-animation {
        animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1)
    }
}