@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 7rem;
    }

    html {
        @apply bg-background text-text font-sans;
        font-size: 62.5%
    }
}

@layer utilities {
    .alert-transform {
        transform: translate(-50%, -50%);
    }

    .dialog-overlay[data-state='open'],
    .dialog-content[data-state='open'] {
        @apply animate-fade-in;
    }

    .dialog-overlay[data-state='closed'],
    .dialog-content[data-state='closed'] {
        @apply animate-fade-out;
    }
}